version: "3.9"

services:
  backend:
    build:
      context: ..
      dockerfile: docker/backend.Dockerfile
    command: gunicorn backend.wsgi:application --bind 0.0.0.0:8000
    ports:
      - "8000:8000"
    env_file:
      - ../backend/.env
    depends_on:
      - db

  frontend:
    build:
      context: ..
      dockerfile: docker/frontend.Dockerfile
    ports:
      - "5173:80"

  db:
    image: postgres:16
    environment:
      POSTGRES_DB: playto
      POSTGRES_USER: playto
      POSTGRES_PASSWORD: playto
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
